.contact-content {
  margin: 0;
  margin-top: 20px;
}

.form {
  margin: auto;
  padding-bottom: 20px;
  max-width: 600px;
  width: 100%;
  border: 2px solid var(--ebony);
  border-radius: 6px;
  background-color: var(--white);
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1rem 4rem;
}

.label {
  margin: 10px 0;
  font-size: large;
  font-weight: 500;
}

.input {
  height: 2rem;
}

.textarea {
  height: 4rem;
}

.contact-buttons {
  margin: 0 3rem;
  text-align: right;
  font-size: large;
}

.contact-btn {
  margin: 0 1rem;
  padding: 0 8px;
  height: 2rem;
  border-radius: 4px;
  color: var(--ebony);
  background-color: whitesmoke;
}

/* .submit {
} */
