:root {
  --white: #ffffff;
  --ebony: #0e050f;
  --darkblue: #160842;
  --indigo: #341948;
  --lavender: #f4f1ff;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: var(--lavender);
  /* background-color: whitesmoke; */
  overflow: hidden;
}

.content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 8rem);
  padding: 0vh 4vw;
}
